@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.tete {
    display: inline-flex;
    list-style: none;
  }
  .header {

    width: 100%;
    height: 100px;
    top: 0;
    display: block;
    background-color: rgba(80, 255, 51, 0.38);
  }

  .grid-container {
    display: grid;
    /*grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-columns: 20% 60% 20%; /* Trois colonnes de largeurs respectives 100px, 200px et 100px */

  }

  .grid-item {
    padding: 10px;
    box-sizing: border-box; /* Include padding in width calculation */
    display: flex;
    align-items: center; /* Centrer verticalement */
    gap: 10px;

 }

    #i1{
        justify-content: start;
    }

    #i2{
        justify-content: end;
    }

  .titre{
    font-family: Cambria;
    font-size: 52px;
    letter-spacing: 10px;
    word-spacing: 10px;
    justify-content: center; /* Centrer horizontalement */
  }

  #menu{
    font-size: 24px;
  }

  img {
    object-fit: cover; /* Pour recadrer l'image */
}

select {
    border: none;
  }

  hr{
    margin-top: 0;
  }

  footer{
    background-color: rgba(80, 255, 51, 0.38);
    bottom: 0;
    width:100%;

  }

  .button-container .btn {
    opacity: 0; /* Boutons initialement transparents */
    transition: opacity 0.3s; /* Transition de l'opacité */}

.button-container:hover .btn {
    opacity: 1; /* Affichage des boutons lors du survol */
}

#titre{
  text-decoration: none;
  color: inherit; 
}
